<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/StyleLinks') %>
    <style>
        h1 {
            text-align: center;
            padding-top: 20px;
            font-family: 'calibri';
        }
    </style>
</head>
<body>
    <h1>Welcome to Homepage</h1>
    <%- include('./Partials/ScriptLinks') %>
</body>
</html>