<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/StyleLinks') %>
    <link rel="stylesheet" href="../CSS/Todo.css">
</head>

<body>
    <div class="container1">
        <div class="inside-box">
            <div class="title">Todo List</div>
            <form class="add-text">
                <input type="text" placeholder="Todo task" name="todo" id="textbox">
                <input type="submit" value="Add" class="button">
            </form>
            <div id="todo-list">
                
            </div>
        </div>
    </div>    
    <%- include('./Partials/ScriptLinks') %>
</body>
</html>